<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Bienvenido!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Su correo electrónico registrado : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>

    
      <!-- <img style="display:block; margin:auto;" src="../../assets/img/icon.png"> -->
    

</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Cerrar sesión</ion-title>
  </ion-toolbar>
</ion-footer>
