.cuenta {
	color: var(--ion-color-cabecera);
}

#rounded {
    
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 45px;
    margin-bottom: 45px;  
}

#boton {
	height: 100px;
}