<ion-header>
  <ion-toolbar color="cabecera">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding" color="fondo">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

    <ion-item id="rounded">
      <ion-label position="floating" color="cabecera">Correo electrónico</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item id="rounded">
      <ion-label position="floating" color="cabecera">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button class="submit-btn" shape="round" color="cabecera" type="submit" [disabled]="!validations_form.valid">Iniciar sesión</ion-button>

    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register">
    ¿No tienes cuenta aún? <a (click)="goToRegisterPage()" class="cuenta">Crea una cuenta.</a>
  </p>

  <ion-list >
  <ion-radio-group [(ngModel)]="tipoUser" (ionChange)="UserValido()">
    <ion-item>
      <ion-label>Administrador</ion-label>
      <ion-radio slot="start" value="admin"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Invitado</ion-label>
      <ion-radio slot="start" value="invitado"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-radio slot="start" value="usuario"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Anonimo</ion-label>
      <ion-radio slot="start" value="anonimo"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Tester</ion-label>
      <ion-radio slot="start" value="tester"></ion-radio>
    </ion-item>
  </ion-radio-group>
  </ion-list>
</ion-content>


